{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Author: {{ book }}</h1>

{% if book.bookinstance_set.all %}

<p>You can't delete this book until all their instance have been deleted:</p>
<ul>
  {% for bookinst in book.bookinstance_set.all %}
    <li>isbn:{{bookinst.isbn}}, status:{{bookinst.status}}</li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete the book?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}
